---
import '../styles/global.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@lichess-org/pgn-viewer@2.5.7/dist/lichess-pgn-viewer.css"
    />
    <title>{title}</title>
  </head>
  <body>
    <main class="container">
      <slot />
    </main>
  </body>
</html>
